* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(/imgs/home-background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
.container {
    height: 100vh;
    background-size: 100vh;

}
.title {
    color: beige;
    text-shadow: 3px 3px 3px rgb(241, 51, 51); 
    font-size: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.whiteboard {
    height: 100vh;
    background-size: 100vh;
    background-image: url(/imgs/whiteboard.jpg);
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.8;
}